*
{
	margin: 0;
	padding: 0;
}
body
{
	background-image:url(../images/contact-background.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    
	color: white;
    align-items: center;
	text-align: center;
	
    padding: 25px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
li img
{
	width: 50px;
	height: 65px;
	float: left;
	text-align:center;
	align-items: center;
}
body
{
	font-family: monospace;
}
.hero
{
	position: absolute;
	width: 1200px;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
}

.button
{
	marigin-top: 30px;
	marigin-left: 440px;
}
.btn
{
	border: 1px solid white;
	padding: 10px 30px;
	color: white;
	text-decoration: none;
	margin-right: 5px;
	font-size: 13px;
	text-transform: uppercase;
}
.btn-one
{
	background-color: darkorange;
	font-family: "Roboto", sans-serif;
}
.btn-two
{
	font-family: "Roboto", sans-serif;
}
.btn-two:hover{
	background-color: darkorange;
	transition: all 0.5s ease-in;
}
/* Create three equal columns that floats next to each other */
.column {
	color: white;
	font-family: "Roboto", sans-serif;
	margin;
    float: left;
    width: 33.33%;
    padding: 15px;
	background-color: rgba(0,0,0,.55);
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
	margin-bottom: 100px;
}

.row:before {
    content: "";
    display: table;
    clear: both;
	margin-top: 200px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}