*
{
	margin: 0;
	padding: 0;
}
body
{
	background-size: cover;
	background-position: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    
	color: white;
    align-items: center;
	text-align: center;
	
    padding: 25px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
li img
{
	width: 50px;
	height: 65px;
	float: left;
	text-align:center;
	align-items: center;
}
/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
div{
	margin-bottom: 25px;
}
/* Set a style for the submit/register button */
.registerbtn {
   background-color: darkgreen;
   color: white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   cursor: pointer;
   width: 25%;

}

.registerbtn:hover {
  opacity:.9;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
